/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

header {
    background-image: url('/images/Background cropped.png');
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/* Navigation */

.navigation {
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navigation ul {
    padding: 0;
    margin-left: 100px;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
}

.navigation p {
    color: #f3c932;
    font-size: 26px;
    margin: 0;
    padding-top: 5px;
    font-family: 'Parisienne', cursive;
}

.navigation a {
    text-decoration: none;
    color: white;
}

/* Splash */

.splash {
    color: white;
    min-height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.splash-inner h2 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-bottom: 0;
    padding-top: 100px;
}

.splash-inner h1 {
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 60px;
}

.splash-inner a {
    min-width: 100px;
    padding: 22px 50px 22px 50px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #f3c932;
    color: white;
}

/* Services */

.services {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 1000px;
    display: inline-block;
} 

.services p, .portfolio p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #777777;
    margin-bottom: 80px;
}

.services i {
    font-size: 35px;
    border: 3px solid;
    width: 66px;
    height: 66px;
    line-height: 60px;
    color: #f3c932;
    border-radius: 50%;
}

/* Portfolio */

.portfolio {
    background-color: #efeeee;
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-inner {
    max-width: 1000px;
    display: inline-block;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.card-body {
    display: absolute;
    background-color: rgb(255, 255, 255);
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Footer */

.page-footer {
    text-align: center;
    padding: 48px 0;
    margin: 0 231px;
}

.page-footer li {
    display: inline-block;
    font-size: 0;
}

.fa-brands {
    margin: 0 10px;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    border: 1px solid #000;
    background-color: #000;
    border-radius: 50%;
}

.footer-elements {
    display: flex;
    align-items: center;
}

.footer-subelements {
    display: flex;
    justify-content: flex-start;
}